[2013-08-15 22:41] tiagomestre opened #1 "Random empty result."
Hello, I'm having a problem where the UploadResult returned from the method Upload in the Cloudinary class is completely empty, and this problem happens randomly.

The code:

[code]

[2013-08-16 07:58] #1 closed, assigned to nobody

[2013-08-28 07:44] Almeonamy opened #2 "upload using stream"
Can you help me? I try to upload image through .Net using streams but I get error "empty image file". I'm sure that the stream is not empty. My code:

[code]

[2013-08-28 15:11] #2 closed, assigned to nobody

[2014-01-17 14:27] michaelbinks opened #3 "GetSign exception with multithreaded app"
I have just received the following exception when calling cloudinary.Upload(uploadParams). I have performed thousands of uploads (currently 28k+ images successfully uploaded) and have seen this occur twice.

A quick google suggests that the error occurs because instance members of HashAlgorithm cannot be guarnteed to be thread safe.

http://msdn.microsoft.com/en-us/library/system.security.cryptogr

[2014-02-11 08:25] #3 closed, assigned to nobody

[2014-07-28 02:03] digitalgym opened #6 "Missing predominant parameter"
It looks like the predominant parameter is missing from the GetResourceResult object.

[2015-05-03 13:13] tocker commented on #6
Hi @digitalgym,

Thanks for catching this. We are working to add this parameter.

[2015-08-28 20:49] NVentimiglia opened #10 "Xamarin Support"
Does Cloudinary support Xamarin mobile clients ?

[2015-08-28 22:32] NVentimiglia commented on #10
Update, it is not supported.

After looking at the code it looks like some of the practices are pretty dated (HttpRequest being used instead of an HttpClient). Any plans to update this to a PCL project ?

[2015-10-28 16:02] tocker commented on #6
Fixed by Pull request #7  - Thanks!

[2015-10-28 16:02] #6 closed

[2016-01-29 17:37] Erok21 opened #12 "DNX Core 5.0 Support"
Is there any intent to add support for dnxcore50 for VNext applications? Perhaps in a prerelease branch? Please?

[2016-02-26 17:36] rosenbergp commented on #12
Erok21, thank you for suggesting to make CloudinaryDotNet into support for dnxcore50. I second that request:)

[2016-03-30 10:50] larini commented on #12
Hi, I also need it to work for dnxcore50 projects. Thanks.

[2016-08-03 11:40] ciel commented on #12
Would really be great to see this updated for `netstandard` and `netcoreapp` now that they're final and in RTM!

[2016-08-20 16:36] leogiroux opened #16 "Windows phone uwp support"
It is not possible to install the package with nuget in the last version of Visual Studio 2015 for a windows phone uwp project.

Is it possible for you to fix it ?

[2016-08-21 12:53] MaorGariv commented on #16
It's on our road-map to support uwp. While no ETA for it yet, i'll be happy to alert here once it's ready.

[2016-08-21 12:55] leogiroux commented on #16
Thank you very much for the answer , I wish good luck :)

Le dim. 21 août 2016 14:53, Maor Gariv <notifications@github.com> a écrit :

--
Léo Giroux
Epitech - 5ème Année
leo.giroux@epitech.eu
leogiroux.fr
07 68 53 98 98

[2016-09-28 01:11] manigandham commented on #12
Is this being actively worked on?

Willing to do a PR but don't want to duplicate work.

[2016-10-19 12:50] AlexKulbako commented on #12
When will be support for asp.net core 1.0? Thanks.

[2016-11-16 10:34] nadavofi commented on #12
Hi all,
I'd like to let you know that we're currently testing a solution for this case, to make sure it's fully backward compatible and plan to release it by the end of the year at the latest.
We appreciate your understanding.

[2016-11-22 23:04] dsvictorh opened #20 "Cant save on ASP.NET site"
I am having an issue saving an image from my back-end. I get the error "File is Empty" like if I had sent nothing at all. I get a file from a controller action, check that it indeed has the necessary data and send its stream as your FileDescription class can be instantiated by passing a file name and a stream but it does not work.

Code that calls the service (File is of type HttpPostedFileBase):

[2016-11-27 17:06] RTLcoil commented on #20
Hi Victor!
Thanks for your request. We have tried to reproduce the issue with the code similar to yours, but everything works fine. Maybe our environment differs from yours. Could you please send us some sample project where we can see this issue?

[2016-11-27 17:18] dsvictorh commented on #20
My approach had the stream come from an HttpPostedFiledBase param's InputStream property on a .NET MVC JsonResult type controller action. I made sure the InputStream property had all the file data accordingly and up to the point where used in the FileDescription constructor.

I was unable to make it work, however, I changed it some time ago now. I proceeded to temporarily store the file instead an

[2016-11-27 18:44] RTLcoil commented on #20
Thanks for the update. We would still like to look into it thought because even though you solved this, the same problem might be reproduced by other developers and we want to prevent that. Any chance you can share with that the project where we can see this happening? It would just save us time rather than creating a test project ourselves.

[2016-11-27 18:49] dsvictorh commented on #20
Unfortunately I am not at liberty to disclose the project under direct orders. I apologize for the inconvenience

[2017-01-18 08:13] paalmoest commented on #12
Any progress on this ?

[2017-01-18 19:32] eanagel commented on #10
+1. This has been open for 16 months, can we get an update?

[2017-01-22 09:45] roeeba commented on #12
Hi @paalmoest, we aim to have this available in the next few months. Stay tuned :)

[2017-01-28 18:32] abhishek199-dhn commented on #16
any update.?

[2017-02-01 19:06] roeeba commented on #16
Hi @abhishek199-dhn , We currently have no update regarding this feature. We will update here once there's any progress made towards this feature.

[2017-02-01 19:25] roeeba commented on #10
It is in our plans to have better support for all popular framework, including a Xamarin SDK. As it is currently not in our immediate plans, we have no ETA to share.

[2017-03-10 06:52] veteze commented on #12
need this stat

[2017-03-12 11:05] MaorGariv commented on #12
Hi @veteze,
We're currently working on it. While we don't have an ETA to share, we'll update here once it's ready and published.

Thanks in advance for your patience:)

[2017-04-11 23:49] itwolf81 opened #30 "Cannot set global secure flag"
Hi,

looking at the implementation of the Api.cs, there is no way to set global Url.Secure(true) flag:
[code]

Can you please fix this by providing a way to set this flag globally without requirement to set UsePrivateCdn to true.

Thank you,
Michal

[2017-04-14 17:49] manigandham commented on #12
@MaorGariv  @roeeba @ronen-burin @nadavofi

Any update here? It's been another month and was originally stated as end of last year at the latest. It seems like @RTLcoil has already submitted several PRs to get this done - can you let us know what the hold up here is for customers waiting on .NET Core?

[2017-04-15 16:54] nadavofi commented on #12
@manigandham, sorry for the delay. These PRs are currently in review by our R&D team and should be merged to the master branch in a couple of weeks.

We appreciate your understanding.

[2017-04-22 13:11] ciel commented on #12
Very excited to see .NET Core support!

[2017-05-15 12:49] brightertools commented on #12
How is this coming along, any ETA?

[2017-05-16 06:33] ronen-burin commented on #12
The code is merged to master and Nuget package will be published probably next week.

[2017-05-27 08:27] mredman commented on #12
I have tried cloning, compiling and referencing the library in a new .core web application (Visual Studio 2017).

This code won't compile as it requires a reference to mscorlib, which I can't seem to reference in .net Core.

[code]

Error:
The type 'IDictionary<,>' is defined in an assembly that is not referenced. You must add a reference to assembly 'mscorlib, Version=4.0.0.0, Culture=neutral, Pu

[2017-06-01 06:45] mredman commented on #12
Has anyone else tried using the update in .net core?

[2017-06-01 18:15] RTLcoil commented on #12
Hey @mredman,

We weren't able to reproduce it in 2015, so we installed 2017 version - and was still fine.

Try opening cloudinary in 2017 version and rebuild it, then add reference to Coudinary.NetCoreShared.dll in the web project.

Also note that CloudinaryDotNet.dll is .net classic version, while Coudinary.NetCoreShared.dll is a .net core version. Make sure you are adding the right dll referenc

[2017-06-02 08:33] mredman commented on #12
Hi,

ok thanks for the reply, I compiled this with VS2015 as thats what it opened in after cloning, will do the same test with VS2017.

Will keep your posted..

Mark

[2017-06-02 08:58] mredman commented on #12
Should I have cloned the master branch? or is there a specific branch for .net core?

[2017-06-02 16:11] RTLcoil commented on #12
There's no specific branch for .net core, it all goes directly to master.

[2017-06-04 10:24] mredman commented on #12
I was referencing Cloundinary.dll not the Coudinary.NetCoreShared.dll  :-/

To run my app I have to add this shared project to the solution and reference the project otherwise my app could not find the dll, this if fine for now to get up to speed with everything until the nugget packages are available.

@RTLcoil , thanks for your help.

[2017-06-04 10:56] RTLcoil commented on #12
Perfect, happy it helped!

[2017-06-09 04:32] jamesmontemagno commented on #10
Seems like you could just move this over to a .NET Standard library so you could support Xamarin, WPF, .NET, .NET Core, ASP.NET, and tons of other ones too. Might be worth investigating making this investment for all developers.

[2017-06-09 04:37] jamesmontemagno commented on #10
It actually looks like you have a .NET Standard Library already targeting 1.6. Although it has a weird name of "NetCoreShared" it isn't related to .NET Core at all. This actually is consumable in Xamarin.iOS and Android projects as Xamarin Support the 1.6 .NET Standard Library spec.

[2017-06-11 18:01] NVentimiglia commented on #10
The standard library simply does not work. The UploadAsync method never completes. The logs have this.

System.OperationCanceledException: The operation was canceled.

[2017-06-12 12:30] RTLcoil commented on #10
Hey guys, replying by the order:

@NVentimiglia

After looking at the code it looks like some of the practices are pretty dated (HttpRequest being used instead of an HttpClient). Any plans to update this to a PCL project ?

Directly, no – it`s not supported. But –

@jamesmontemagno

Yes, this might work across new .net core implementation. No one checked this on our end though.

@jamesmontemagno

[2017-06-12 13:09] RTLcoil commented on #10
@NVentimiglia and knowing the version about your last question about standard library could also help.

[2017-06-12 16:51] jamesmontemagno commented on #10
So pulling down the project I saw that it is actually a .NET Standard Library, not a .NET Core Library, which is actually good because .NET Standard Libraries are .NET Libraries that can be consumed by any .NET Application that adhears to the profile selected, in this case 1.6: https://docs.microsoft.com/en-us/dotnet/standard/library

I was able to pull in the library into a Xamarin.Android Projec

[2017-06-13 13:31] RTLcoil commented on #10
Exactly, @jamesmontemagno We targeted .NET Standard 1.6 to be able to work in .net core and other related projects.

@NVentimiglia Please let me know the version so we'd start working on it.

[2017-06-14 02:56] NVentimiglia commented on #10
@RTLcoil I pulled from master.

Testing on a Xamarin.Forms 2.3.4.247 Android, IOS, and PCL project

[2017-06-14 14:24] RTLcoil commented on #10
@NVentimiglia Thank you. Could you also clarify if what was the DLL version used? NetCoreShared or cloudinaryDotNet. Seems it was NetCoreShared, but just want to make sure.

[2017-06-16 17:24] NVentimiglia commented on #10
Yes, NetCoreShared.

[2017-06-18 12:17] mredman commented on #12
Just wondering if the nuget packages going to be updated soon?

[2017-06-19 09:27] DIaMONd-Thief opened #32 "AccessMode parameter is not supported in Upload and ListResources"
There is no AccessMode property available in RawUploadParams structure, although it is possible to specify it via AddCustomParam method and server accepts it. This parameter is also not parsed into ListResourcesResult structure, although it is available in raw json object.

[2017-06-19 10:27] DIaMONd-Thief opened #33 "JsonObj property is not set for inner Resource objects of ListResourceResult"
When performing ListResources operation a result of type ListResourceResult is returned containing single Resource object. The property JsonObj of result object contains JToken representing the full response, including resource, but property JsonObj of inner resource object is null, although other properties are set.

[2017-06-19 13:20] MaorGariv commented on #33
Hi @DIaMONd-Thief,

Can you please share the exact call (method and parameters) you used to get this result for us to further investigate?
If privacy is an issue, please feel free to open a new support ticket and reference this issue -
https://support.cloudinary.com/hc/en-us/requests/new

[2017-06-19 14:17] DIaMONd-Thief commented on #33
Hi @MaorGariv,
Here is a code sample to reproduce the issue, hope this is enough:
[code]

localPath resembles relative folder structure to the file being checked, BuildPublicId merely transforms path to file to public ids by replacing '\' to '/'.

[2017-06-19 15:04] MaorGariv commented on #32
Hey (again:)) @DIaMONd-Thief,

Adding the `AccessMode` parameter is indeed on our road-map (as well as matching this SDK with the other updates). The `AddCustomParam` is indeed a good temporary solution, until it's implemented and published.

[2017-06-19 16:02] MaorGariv commented on #33
Thanks for that, it really helped in understanding the issue.

`Resources` is of type array (`Resource[]`) and indeed doesn't have a `JsonObj` attribute.
You can use `JsonConvert.SerializeObject(result.Resources)` to get the array as a Json string.

Makes sense?

Let me know if it helps.

[2017-06-20 05:26] DIaMONd-Thief commented on #33
Hi @MaorGariv ,
We needed json string to retrieve access_mode property of the resource, since it is not available yet in SDK, so we can't achieve that by serializing array of Resource. What I did is accessing this property via root json object from ListResourcesResult.
Currently I changed logic from using ListResources method to Explicit one to check existing resources' access mode, and this prope

[2017-06-20 10:01] MaorGariv commented on #33
@DIaMONd-Thief,

If that's your use-case, Explicit is indeed the way to do it as it's more performant and also rate unlimited, unlike Admin API's ListResources :)

Note that the `access_mode` is returned in the original upload response and when updating the resource so you can take the last `access_mode` from there as well.

[2017-06-20 10:48] DIaMONd-Thief commented on #33
@MaorGariv,
Thanks for the responses,
In our use case upload and check for resource existence are different procedures that can run in separate processes, so we cannot rely on response from Upload.
For now I'm happy with Explicit response with `access_mode` in it, looking forward to a moment when it is available in object model =)

[2017-06-20 12:32] MaorGariv commented on #33
@DIaMONd-Thief,

Glad I could help.

Note that you can use [GetResource](https://github.com/cloudinary/CloudinaryDotNet/blob/master/Cloudinary/Cloudinary.cs#L735) and use `GetResourceResult.JsonObj` to get the `access_mode` of a specific resource.

[2017-06-28 15:23] MaorGariv commented on #33
I'm closing this issue but please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2017-06-28 15:23] #33 closed

[2017-07-08 05:57] mredman commented on #12
Referencing the shared project, there seems to be some incompatible packages with netcoreapp1.1 which causes errors and projects cannot be published with these errors, specifically relating to:
Microsoft.AspNet.Http.Abstractions
Microsoft.Extensions.WebEncoders.Core

When can we see an update that can be referenced via nuget for .net core, Is there any definitive ETA on this?

We would love to use

[2017-07-11 08:58] mredman commented on #12
Will try out imgix on .Net Core, anyone had success with this or other solutions that support .net core?

[2017-08-23 07:04] tooppaaa opened #52 "Stream is not writable"
Hi,

I investigate a bit more the original issue bellow and I was able to prove that the code was originally working in .net core 1.0 but isn't in 1.1.

Create a simple project targetting 1.1 and launch
[code]

_____ Original issue

I am using Cloudinary.NetCoreShared project in my .Net core 1.1 project.

I try to upload a file from a IFormFile as follow :
[code]
The upload is failing due to a "St

[2017-08-25 22:01] HarelM opened #53 ".net core support"
Any plans to support .net core? My website is written in it and I was hoping to use this service but I can't use a NuGet package that does not target netstandards 1.x...

[2017-08-27 12:49] roeeba commented on #52
Hi @tooppaaa, thank you for reporting this issue. Our team will review this as soon as they can. We will update here as soon as we'll have any insights.

[2017-08-27 12:53] roeeba commented on #12
Hi all, we're currently facing some issues with the release of the .Net Core support. The team is working hard to fix these as soon as possible. We will update here as soon as it's ready. While we cannot guarantee a specific ETA, we hope to get this resolved in the next couple of weeks.

[2017-08-27 12:56] roeeba commented on #53
Hi @HarelM, we're working these days on our .Net Core support. Please see [this thread](https://github.com/cloudinary/CloudinaryDotNet/issues/12) for further updates.

[2017-08-27 12:56] #53 closed

[2017-08-27 13:15] HarelM commented on #12
I suggest to migrate to visual studio 2017 if you haven't done so already, it greatly simplifies .net core stuff...

[2017-08-31 17:06] aibars opened #63 "Retrieve image by public_id only without file extension"
Hi,

At some screen, I'm uploading images while completing a form and then saving the returned Public Ids that the API return on the database.
On another method, I'm trying to retrieve the signed URL by providing the public id, for example, "dev/pynin7oskrstrzahhfwz" to the following method:

`account.Api.UrlImgUp.Signed(true).BuildUrl("dev/pynin7oskrstrzahhfwz");`

While this method doesn't throw

[2017-08-31 17:08] aibars commented on #63
Also, it would be nice that the method failed if the provided id is invalid.

[2017-09-03 12:34] roeeba commented on #63
Hi, @aibars. The reason your code returns a 404 error is that all your resources have been uploaded as `authenticated` (type), while the default type requested on the API is `upload`. In order to get authenticated images, you need to explicitly set the `authenticated` type on your request. For example:
`cloudinary.Api.UrlImgUp.Action("authenticated").Signed(true).BuildUrl("dev/pynin7oskrstrzahhfwz

[2017-09-10 13:20] mredman commented on #12
How is this closed!?

[2017-09-10 13:21] mredman commented on #53
And how is this one also closed!?

[2017-09-10 13:27] HarelM commented on #53
Migrated to use Wikimedia commons using a library that support .Net core:
https://www.nuget.org/packages/CXuesong.MW.WikiClientLibrary
Good luck!

[2017-09-11 08:27] roeeba commented on #12
Hi, @mredman. This issue is still open. I just added a reference to a closed thread. I guess it confused you :)

[2017-09-11 08:49] mredman commented on #12
Yes, I just saw "Closed" thanks,

I hope we can use your service in .net core soon.

[2017-09-13 11:20] Emixam23 commented on #10
Hi,

So I have a question, how can you change the .NET Standard Platform from 1.5 to 1.6 since it's not in the list?

Is it because I'm generating the Xamarin solution from a Mac?

Thank,

Max

[2017-09-15 01:10] RTLcoil commented on #10
@Emixam23 not sure I understand your question and the list you are referring to, but we do support 1.6.

Could you clarify what you mean?

[2017-09-15 08:11] Emixam23 commented on #10
I cannot change the target as the others explained, I can only chose the framework 1.5, I don't have the the 1.6 as target Framework

[2017-09-15 11:59] RTLcoil commented on #10
@Emixam23 “I can only chose the framework 1.5”
Could you clarify where can you only chose 1.5? Also, what environment do you use?

[2017-09-15 13:21] Emixam23 commented on #10
Yes sorry !

I'm on MacBook Pro OS X (Sierra). I'm using Visual Studio (7.1.3). My project has the following `project.json` file:

    {
      "dependencies": {
        "Xamarin.Forms": "2.3.4.270"
      },
      "frameworks": {
        ".NETPortable,Version=v4.5,Profile=Profile111": {}
      }
    }

When I go to `PROJECT -> Options -> General`, the checkbox [*.NET Portable* `PCL 4.5 - Profile 11

[2017-09-15 15:57] RTLcoil commented on #10
Thanks, @Emixam23 a few questions:
1. Could you clarify how exactly do you add Cloudinary into your xmarin project?
2. If you don't add Cloudinary, can you change the target in the project to 1.6?

[2017-09-15 16:35] Emixam23 commented on #10
Well, I can't add it...

Over the PCL part, it throws :

*Running non-parallel restore.
Reading project file /Users/emixam23/Workspace/dev/PROJECT/PROJECT/PROJECT.csproj.
Restoring packages for /Users/emixam23/Workspace/dev/PROJECT/PROJECT/project.json...
Restoring packages for .NETPortable,Version=v4.5,Profile=Profile111...
Resolving conflicts for .NETPortable,Version=v4.5,Profile=Profile111...
C

[2017-09-15 16:59] RTLcoil commented on #10
Thanks @Emixam23, let me check this with the team next week.

[2017-09-17 03:26] NVentimiglia opened #65 "Video Metadata"
Is there a metadata endpoint for videos?  My use case Is I would like to know the aspect ratio of a video prior to streaming of a video from cloudinary. I have a custom video presenter I am working with.

[2017-09-17 12:11] roeeba commented on #65
Hi @NVentimiglia, you can extract this information either from the upload response (where `width` and `height` are returned) or from the [Admin API](http://cloudinary.com/documentation/admin_api#details_of_a_single_resource). Note that the latter is rate limited and therefore shouldn't be used for production processes.
Will that work for you?

[2017-09-17 23:46] NVentimiglia commented on #65
I am downloading, not uploading...

[2017-09-18 09:12] roeeba commented on #65
Hi, @NVentimiglia. If you're not willing to save this information upon uploading and use it later before delivering, you can run the [Explicit API](https://cloudinary.com/documentation/image_upload_api_reference#explicit). This API, given only the public_id (and resource_type: video if requesting a video) will return the upload response, which includes the width and height of the resource.

[2017-09-18 12:33] RTLcoil commented on #10
@Emixam23 So I checked it and the package that you are using does not support netstandard. We have a package which does support it internally and it should be published soon.

[2017-09-19 06:46] mredman commented on #12
Guys, it really has been months & months of waiting for this, any news?

[2017-09-19 06:53] mredman commented on #12
I have tried cloning and compiling in VS2015 and VS2017 and referencing the project in a .net Core 2.0 application, its seems to compile with a few warnings but won't publish due to some errors, so it cannot be used as it stands.

Has anyone got any tips on getting this to a working state so we can start using this library in .net core? The Cloudinary product looks great, but we really need some l

[2017-09-21 08:11] nignatov83 opened #66 "ListResourcesWithoutTag"
Hi!

Please, can you implement function 'ListResourcesWithoutTag'.
I need get all resources without tags.
I Try call 'result = Cloudinary.ListResourcesByTag(null, result.NextCursor);'
but I see resource with tag in 'result'  variable.

[2017-09-25 10:00] roeeba commented on #63
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-09-25 10:00] #63 closed

[2017-09-28 13:19] idobarnoam commented on #66
Hi, @nignatov83 we indeed currently don't have a dedicated method of listing resources that don't have tags.
Its possible to use our [search API](https://cloudinary.com/documentation/search_api) to build an expression that returns all the images without tags.
You could do this buy [listing all the tags](https://cloudinary.com/documentation/admin_api#list_tags) and then build the expression to excl

[2017-10-01 11:13] brightertools commented on #12
Any indication of an ETA?

[2017-10-03 08:36] MaorGariv commented on #20
Hi,

Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support http://support.cloudinary.com or [create a new ticket](https://support.cloudinary.com/hc/en-us/requests/new) if you have any additional issues.

[2017-10-03 08:36] #20 closed

[2017-10-03 08:55] mredman commented on #52
Hi @tooppaaa I noticed you are using .Net core 1.1, can you publish your application using the .net core shared library?

The Nuget package has not been updated for 9 months, I hope bugs get fixed and .net core 2.0 is support soon.

[2017-10-03 11:10] roeeba commented on #30
Hi, Michal. I really apologise for the very late response. I'm not sure if this is still relevant to you, but nonetheless, I'm checking this internally and will update as soon as I can.

[2017-10-04 10:58] roeeba commented on #52
Hi, @tooppaaa .
We've just published a Release Candidate of the CloudinaryDotNet SDK. This release introduces support for .Net Standard and Core.
A final release will be published in the next few weeks (depending on the feedback we'll receive).
Could you please update your current package to this one and let us know if it solves your issue?

[2017-10-04 11:04] roeeba commented on #12
Hey, guys.
We've just published a Release Candidate of the CloudinaryDotNet SDK. This release introduces support for .Net Standard and Core.
A final release will be published in the next few weeks (depending on the feedback we'll receive).
We'd appreciate any feedback you guys will have.

[2017-10-04 11:19] mredman commented on #12
@roeeba Thanks, will have a look, do we need to get the 'review' branch?

[2017-10-04 11:21] mredman commented on #12
ok, I can see 1.1.0-rc1 via nuget.

[2017-10-04 11:23] roeeba commented on #12
@mredman Yes :) just updated my comment.

[2017-10-09 16:10] roeeba commented on #30
Hi Michel,
We have identified the issue and a ticket has been created internally for our dev team. We will update once this is resolved (no ETA to share at the moment).

[2017-10-10 07:27] itwolf81 commented on #30
Hi Roee,
thanks for your reply. Our system is in production now, but if you will fix this I will try it and plan fix on our side.

[2017-10-10 09:50] roeeba commented on #30
Hi Michal, thanks for the update. We will update here on any progress done in this matter.

[2017-10-30 21:55] tooppaaa commented on #52
Hey @roeeba, sorry for the delay, got busy on other projects.

I finally took some time to apply 1.1.0.rc1 and try it. I'm happy to see that my issue is solved on .net core 2.0 (I upgraded since the issue has been raised).

Thanks for your effort !

[2017-10-30 21:55] #52 closed

[2017-10-31 12:01] roeeba commented on #52
@tooppaaa, glad we could help :)
Thank you for the update!

[2017-11-16 03:14] jefferyleo opened #77 "HttpPostedFileBase Image"
Hi I'm new to Cloudinary, may I know as the code showing below, am I able to insert the HttpPostedFileBase to upload into Cloudinary?

[code]

[2017-11-16 08:58] #77 closed

[2017-11-23 10:26] roeeba commented on #65
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2017-11-23 10:26] #65 closed

[2017-12-06 20:55] Emixam23 commented on #10
Thanks to @jamesmontemagno for his video for sharing a .NET Core 2.0 project instead of a PCL. However, even if I can add the CloudinaryDotNet into both .NET Core 2.0 Project and Android side, I have compilation errors such as :

File name: 'System.Text.Encodings.Web.dll'
  at Java.Interop.Tools.Cecil.DirectoryAssemblyResolver.Resolve (Mono.Cecil.AssemblyNameReference reference, Mono.Cecil.ReaderP

[2017-12-09 04:17] RTLcoil commented on #10
@Emixam23 can you provide a step by step description of how you get this error? We would like to reproduce it on our end, so we also need to know your Android environment, pack version, etc.

[2017-12-11 09:07] Emixam23 commented on #10
Hi,

I am sorry but it was a mistake from my side. I tried with the bad package I guess.
`Cloudinary.Core` works fine :)

Thanks

[2017-12-12 10:54] Emixam23 commented on #10
It works with Xamarin :) I have a Xamarin solution (.NET Core 1.6, Android 7.1, iOS, UWP Build 16299)

- First, take a look at this video -> https://channel9.msdn.com/Shows/XamarinShow/Snack-Pack-15-Upgrading-to-XamarinForms-to-NET-Standard
- Once you're done with it, install `Coudinary.Core` into each project

There is an example of how you can use it:

    public class CloudinarySDK
    {

[2017-12-19 03:13] RTLcoil commented on #10
Hey @Emixam23, seems like there's another pack you should download to make it work, take a look at this and let me know if this clarifies https://www.dropbox.com/s/zd4ikxxuaixkagl/nOoFF.png?dl=0
One is official the other one is not. While we appreciate contributions by our community, we can only rely on packs which went through our review. We checked your case with our pack and it did work. Make s

[2017-12-19 10:07] Emixam23 commented on #10
Hey !

I just tried to give working solution :) Right now I am busy but in like 2 weeks, I will work again with cloudinary, that will be the moment to try your situation :)

best,

[2017-12-19 10:23] RTLcoil commented on #10
Sounds good!

[2017-12-30 17:29] Emixam23 opened #81 "List all files from cloudinary"
Hi,

I'm currently trying to list all my file from my CDN, however, I'm stuck, I just can't get my pictures.

I tried from HTTP Url with a HttpGet

`HttpRequestMessage httpRequestMessage = new HttpRequestMessage(HttpMethod.Get....`

I'm getting a 401, however, it's only from my app, Postman works...

I tried with the SDK -> `var res = await cloudinary.GetUploadPresetAsync(preset);` but I'm getting

[2018-01-01 10:28] roeeba commented on #81
Hi @Emixam23. Please use the Admin API `resources` endpoint to get a list of all your resources - https://github.com/cloudinary/CloudinaryDotNet/blob/dd26aa19681f86119e5d869a0713d653d32223ac/Shared/Cloudinary.cs#L639

For more information:
https://cloudinary.com/documentation/admin_api#browse_resources

[2018-01-03 21:51] Emixam23 commented on #81
Hi @roeeba

Thank you, since your package didn't work for neither PCL Xamarin project nor .NET Core 1.6, I worked with Cloudinary.Core. Updating my project to .NET Core 2.0 made me able to install your package and now everything s working fine :)

Thank you

[2018-01-04 09:53] roeeba commented on #81
Thanks for the update :)

[2018-01-04 09:53] #81 closed

[2018-01-21 22:19] cometfish opened #82 "Tag() call only affects Images, not Files/Videos"
The `Tag()` api call is locked to `ResourceType.Image` (since it is using `ApiUrlImgUpV`).

I had made a pull request to fix this for both the Rename and Tag functions (see https://github.com/cloudinary/CloudinaryDotNet/pull/35 ).
The Rename function is now updated (thanks!), but the Tag function is not, and the request has been closed.

[2018-01-31 21:42] MichelDaoust opened #83 "Proxy server not supported"
Should return a good error (Proxy authentication)  or better : Allow passing proxy info in the API.   Now, the exception is a JSON token error, not really helpful.

Thank you.

[2018-02-04 06:38] roeeba commented on #82
Hi @cometfish. Apologies for the delayed reply. Thank you for pointing it out. I've sent your inquiry to our dev team for further review. We will update on any progress done in this matter.

[2018-02-04 13:11] roeeba commented on #83
Hi @MichelDaoust. Could you please share some more information? what exactly do you expect to achieve and what's the exact issue you're currently facing (a reference to the code and a full error stacktrace would be very appreciated). Thanks!

[2018-02-04 15:14] vinhloc1996 opened #84 "Error json response when uploading the file to cloudinary"
Hi, I'm getting the error while trying to upload the image to cloudinary. The error message shows that it has the exception while parsing value. The back-end of my project is Asp.Net Core 2.
The total error messages:
[code]
The method to upload file to cloudinary site:

[code]

I use the Postman to test the upload method with this configuration:

![image](https://user-images.githubusercontent.com/

[2018-02-05 02:34] #84 closed

[2018-02-05 20:25] MichelDaoust commented on #83
Hi @roeeba ,
 I want to upload an image to Cloudinary.

In project CloudinaryDotNet.Core.csproj

If you look the result of the response in Api.Parse returned when you upload a file (from the CallAndParse function) you receive this HTTP reponse :

{StatusCode: 407, ReasonPhrase: '**authenticationrequired'**, Version: 1.1, Content: System.Net.Http.NoWriteNoSeekStreamContent, Headers:\r\n{\r\n  Cache

[2018-02-27 16:35] doug-shontz opened #86 "Version 1.1.1 incompatible with .NET Framework"
We have a shared C# library that encapsulates a good bit of business logic from a number of vendors...Cloudinary being one of them.  We have been on the 1.0.x line with no issues.  We are testing the 1.1.x line and are able to update to 1.1.0.  But, in attempting to update to 1.1.1, NuGet is reporting that the package is incompatible with .NET Framework 4.7.1.

Is this intentional?  We're not at a

[2018-03-05 11:58] roeeba commented on #86
Hi @doug-shontz, I apologize for the delayed reply. We're checking it now and will update ASAP.

[2018-03-12 13:19] roeeba commented on #86
Hi @doug-shontz. Thank you for your patience. We're unable to reproduce the issue on our side. Here's the output we get:

[code]

Could you please share a log that could help us understand the issue?

Thanks
Roee

[2018-03-12 19:11] doug-shontz commented on #86
Let me know if there is something else I can get you.  As a bit of history...the library referencing Cloudinary's NuGet package was recently completely rebuilt in which we brought all of our internal class libraries up to .NET 4.7.1.  So, this library has never "been" another version.  We are using PackageReference as our NuGet update method.

Below is a stripped down version of our csproj file wi

[2018-03-12 19:14] doug-shontz commented on #86
Sorry...forgot the editor would pick up all the csproj stuff.  Attached this time.
[csproj.txt](https://github.com/cloudinary/CloudinaryDotNet/files/1804178/csproj.txt)

[2018-03-13 06:19] roeeba commented on #83
Hi @MichelDaoust, thank you very much for sharing the details and apologize for not responding earlier. I've opened a ticket with our dev team. We'll do our best to address this issue as soon as we can.

[2018-03-15 17:36] roeeba commented on #86
Hi @doug-shontz. We've just released version 1.2.0 that fixes this issue. Please let me know if everything is ok on your side now?

[2018-03-15 18:03] doug-shontz commented on #86
Was just able to upgrade the nuget package.  Still need to actually test our code, but we're not blocked by this issue any longer.  Thanks!

[2018-03-15 18:03] #86 closed

[2018-04-04 07:32] bpetersen1 opened #101 "generating incorrect URL"
Hi,

I'm busy implementing this library into one of our views, to view images and using this line of code to do it:

   @Html.Raw(cloudinary.Api.ApiUrlImgUp.Transform(new Transformation()
                     .Width(480)
                     .Height(480))
                     .BuildImageTag(image.CloudinaryPulicId)
                     );

and it generates  the following URL for the image https://

[2018-04-04 09:00] bpetersen1 commented on #101
Ok, managed to sort out the issue.

Changed ApiUrlImgUp to UrlImgUp that fixed my issue

[2018-04-04 09:00] #101 closed

[2018-04-12 13:35] #82 closed

[2018-04-26 02:38] ediewoelfle commented on #10
I am having the same errors as @Emixam23. Has the netstandard version been released, @RTLcoil ?

[2018-04-26 03:56] ediewoelfle commented on #10
I am using CloudinaryDotNet. I have decided to rollback to 1.6 and drop my RestSharp NuGet (only works with 2.0).

[2018-04-26 08:56] idobarnoam commented on #10
@ediewoelfle Could you maybe elaborate on what are you experiencing?

also if you could share the details of your environment it would also help us in understanding.

[2018-05-21 08:21] rafalowski opened #114 "Duration for token-based authenticated images does not work"
From documantion: Delivering token-based authenticated images
duration - the duration that the URL is valid in seconds

This property does not work, the Url is valid forever.

[2018-05-21 14:11] roeeba commented on #114
Hi @rafalowski. We're aware of this issue and aim to deploy a fix in a couple of weeks time. We'll update here once fixed.

[2018-05-22 10:16] andrejohansson opened #116 "CloudinaryDotNet Package Causes Warning NU1603"
Cloudinary References NewtonSoft.Json 11.0.0 but that version does not exists (https://www.nuget.org/packages/Newtonsoft.Json/)

So nuget have to settle for 11.0.1 and causes warning NU1603.

The nuspec should be updated to point to an existing version.

[2018-05-23 10:00] roeeba commented on #114
Hi @rafalowski, The duration issue was fixed -
https://github.com/cloudinary/CloudinaryDotNet/pull/115/commits/1ceb19ebf232bba854d1e785d62db844b45535dd

[2018-05-23 10:00] #114 closed

[2018-05-24 12:51] #116 closed

[2018-08-24 09:37] c-lamont commented on #10
@idobarnoam I have added the `CloudinaryDotNet` package to my projects but the Xamarin Android project does not compile and complains of `Could not load assembly 'CloudinaryDotNet, Version=1.3.1.0, Culture=neutral, PublicKeyToken=c8234dc617ae7841'. Perhaps it doesn't exist in the Mono for Android profile?`

I tried the .NET Core SDK as described [here](https://support.cloudinary.com/hc/en-us/commu

[2018-08-26 12:55] roeeba commented on #10
Hi @c-lamont. I couldn't manage to reproduce the issue you have with Xamarin Android. Could you please try removing the Cloudinary NuGet package and re-add it? let me know if that helps?

[2018-08-27 06:36] c-lamont commented on #10
@roeeba I tried multiple times. Removed all output paths and packages and restored them.

Also in the 'CloudinaryDotNet' I noticed there is no 'UploadAsync' method, only the 'Upload' method.

[2018-08-27 08:02] midnight-lizard-extension commented on #12
Does this mean that you support dotnet core now?
Shouldn't it be mentioned in the docs?
From docs:
![image](https://user-images.githubusercontent.com/39124616/44648055-8abdc700-a9e8-11e8-8a27-3175e592ed07.png)

[2018-08-27 16:02] roeeba commented on #10
Hi @c-lamont. Please try the following solution:
https://forums.xamarin.com/discussion/68974/system-io-filenotfoundexception-could-not-load-assembly-system-drawing
Specifically:
-> Close the solution
-> Delete all contents of the Packages folder (all the DLL’s referenced through Nuget)
-> Restart the solution
-> Build (this will cause Nuget to get all DLL’s again based on the packages.config)

Reg

[2018-08-27 16:14] roeeba commented on #12
Hi @midnight-lizard-extension. We indeed support .Net Core. Thanks for your feedback! We'll review our documentation and will make to update it accordingly.

[2018-08-27 16:14] #12 closed

[2018-08-28 06:45] roeeba commented on #16
UWP is supported since [version 1.1.0](https://github.com/cloudinary/CloudinaryDotNet/releases/tag/1.1.0).

[2018-08-28 06:45] #16 closed

[2018-09-04 09:35] nazarkryp opened #128 "Async Operations Missing"
I've installed latest package version 1.3.1.
ASP.NET Core 2.1 Project

I'd like to have UploadAsync(...) method. Instead I have Upload(...) only.

Please do not specify comments e.g: use Task.Run(...) etc.

[2018-09-04 12:39] roeeba commented on #128
Hi @nazarkryp. Currently, this `UploadAsync` method is not supported for Core. We might support it going forward.

[2018-09-10 09:51] RyanONeill1970 opened #129 "Image upload occasionally fails and seems to return HTML"
The following (hopefully simple and obvious) code works, but once in a while will glitch with an error. On retrying, the error has gone.

[code]

It seems that there is a connectivity issue or the backend throws an error and returns the web server HTML error page which causes the JSON parser to throw an error (I've come across the same problem with other code before).

The stack trace is;

I appre

[2018-09-12 16:13] roeeba commented on #129
Hi @RyanONeill1970. It does seem to be an issue. Thanks for letting us know. We'll update here once resolved.

[2018-09-13 08:42] roeeba commented on #129
Hi @RyanONeill1970, to help us debug the issue further, can you please share your cloud name and the timeframe in which the error occurred?

[2018-09-13 14:05] RyanONeill1970 commented on #129
Wednesday, August 29, 2018 3:47:01 PM (UK Time)
name: outdoor-and-country

[2018-09-21 02:21] mhosman opened #130 "How to upload as Base64?"

[2018-09-21 17:28] roeeba commented on #130
Hi @mhosman. Please follow this example -
https://github.com/cloudinary/CloudinaryDotNet/blob/52e3e8e0397b9b899bfbdf13a4149c9817736535/Cloudinary.Test/CloudinaryTest.cs#L550

[2018-09-21 17:33] mhosman commented on #130
Great!! Resolved! Thank you very much!!!

[2018-09-21 17:33] #130 closed

[2018-09-21 18:13] roeeba commented on #66
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at http://support.cloudinary.com or create a new ticket if you have any additional issues.

[2018-09-21 18:13] #66 closed

[2018-09-26 18:14] mhosman opened #131 "Example for removing images?"

[2018-10-01 11:22] antoniocuegervas opened #132 "CloudinaryDotNet incompatible with Dynamics 365 Online"
Hi

We're integrating Cloudinary with our Dynamics 365 Online implementation, so we can upload pictures or files into Cloudinary. We have both client-side and server-side integration. In the process, we've found a couple of issues with CloudinaryDotNet on the server-side.

Note: We use the .Net Framework implementation of the CloudinaryDotNet library.

1. As a cloud application, server-side code o

[2018-10-05 13:42] MisterHoker commented on #128
I review asynchronous code and as I see current asynchronous methods (from .net framework) are senseless.

https://exceptionnotfound.net/two-ways-to-do-async-await-in-asp-net-wrong-and-how-to-fix-them/

[2018-10-05 13:56] MisterHoker commented on #128
I review 'asynchronous code' and as I see current asynchronous methods (from .net framework library version) are senseless.

1. If invoke task.Wait() method become synchronous - current thread blocked until task become completed (this I saw in API class)
2. Event if we wrap synchronous code in TaskFactory.CreateNew (Like in partial class Cloudinary) this will not override internal synchronous code

[2018-10-08 13:34] mhosman commented on #131
Thanks @shirlymanor, I did not find anything in the docs.

[2018-10-08 13:34] #131 closed

[2018-12-20 11:15] roeeba commented on #129
@RyanONeill1970 The issue is resolved on the latest version (1.6.0).

[2018-12-20 11:15] #129 closed

[2018-12-24 12:43] #30 closed

[2019-01-06 09:38] idobarnoam commented on #132
Hi @antoniocuegervas,

Thank you for letting us know and your patience in this.

Point number 1 has already a fix in place in the new version.
Once the new version of the SDK will be published you could update.

Point 2 requires further investigation on our part.
We have opened a request with our SDK team to take a closer look.

We will update once there are any new insights regarding this.

[2019-01-30 10:33] keskinonur11 opened #155 "ListResources() returns only images and gifs"
I have two video files (both mp4), can't get those from ListResources call. Is there any special method to get videos?

[2019-01-30 11:10] igy commented on #155
Hi Onur,
If you don't specify any parameters, the default resource type returned is 'image'. If you're looking for videos and audio files, you'll need to specify this in the API call like this:

[code]
Can you please try that, and if it's still not working can you please provide an example that I can check?
Thanks,
Stephen

[2019-01-31 09:12] keskinonur11 commented on #155
Hello Stephen,
Thanks for the fast response, it works :) I have two follow up questions:
- Is there any specific reason why videos are not included in the parameterless call?
- With this call the returned objects "Tags" are null. (Could be related with issue 82)

[2019-01-31 10:06] igy commented on #155
Hi Onur,
I'm not sure why the default is to include images only; if I were to guess I'd say it's for backward compatibility or legacy reasons, because of the three resource types we support (image, video, raw), image was the first, and is often considered the default in other places and documentation.

If I understand the scope of issue #82 correctly, that was mostly related to the methods used to

[2019-01-31 10:31] keskinonur11 commented on #155
Got you, could be.
Yes exactly as you described. I got the videos and can see their metada but not their tags. The following are the only properties returning: "public_id", "format", "version", "resource_type", "type", "created_at", "bytes", "width" ,"height", "url", "secure_url"

[2019-01-31 18:06] igy commented on #155
In the 'list resources API', the 'tags' parameter is also false by default, you need to specify this as 'true' to receive the tags in the response.
I'm afraid I don't have a .NET environment right now to verify, but the call to include the tags should be:
[code]
If that's not correct let me know and I'll check it in a proper environement for you.

[2019-02-21 09:26] roeeba commented on #83
Hi @MichelDaoust. While it's still on our roadmap to support this in-house, you may find the following solution helpful - https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings

[2019-03-13 21:21] mamcx opened #160 "ListResourcesByPrefix not allow to set max result, and prefix is not present ListResourcesParams"
I try to make the first call to the lib, I found some inconsistencies:

[code]

I find it weird how some calls allow this or that. I wonder why is just  `cloudinary.ListResources(params) `and if want make utility for params like `ListResourcesParams.ByPrefix()` instead.

[2019-03-15 21:41] shirlymanor commented on #160
Welcome to Cloudinary :)
In Cloudinary folder is part of the public_id so if you want to search by folder you might want to use `ListResourcesByPrefix` and search for the folder name. because it's common we created a dedicated function for that. Here is the sample code:
https://dotnetfiddle.net/QLVhbi

[2019-03-15 21:44] mamcx commented on #160
I know that. The problem is not searching, is that is not possible to pass the rest of the params.

[2019-03-15 22:27] shirlymanor commented on #160
In that case, it might be easier to use our search API:
https://cloudinary.com/documentation/search_api

[2019-03-18 21:39] matmiranda opened #161 "How to send multiple images ?"
Follow [StackOverflow](https://stackoverflow.com/questions/55229940/how-to-send-multiple-images-to-cloudinary) and code:

[code]
I'm trying to send multiple images to cloudinary,  only 1 image is saved, any solution?

[2019-03-18 22:46] #161 closed

[2019-03-19 06:54] benjamin-hg opened #162 "Cannot set color on TextLayer"
I've looked into the code but so far I couldn't find any means to set the text color (`co_...`) of a `TextLayer` with this library.
Not sure if this is a bug or rather a feature request.

[2019-03-19 07:55] benjamin-hg commented on #162
I worked around this issue by creating a subclass of `TextLayer`

[code]

Although this works for me, it's rather a hack and probably limited to a subset of possible `TextLayer` use cases.

[2019-03-19 08:31] const-cloudinary commented on #162
@benjamin-hg , text color can be set in the following way:

var layer = new TextLayer("Hello").FontSize(10).FontFamily("Arial");
var transformation = new Transformation().Overlay(layer).Color("red");

[2019-03-19 08:54] benjamin-hg commented on #162
@const-cloudinary Thanks a lot, that actually works! Seems like my mistake was to add a `.Chain()` before `.Color()`.

[2019-03-19 08:54] #162 closed

[2019-03-21 20:44] mamcx commented on #160
Sorry, I try with search and found another inconsistence. The Resources property not return the same of the other methods. it not have the "Version" property for example (that I need)

[2019-03-24 15:12] roeeba commented on #160
Hi @mamcx. While there's indeed [no property for prefix](https://github.com/cloudinary/CloudinaryDotNet/blob/fd0451066713c28f2367dd7940280f7b9361c4c9/Shared/Actions/SearchResult.cs#L25) at the moment, you can get it from the `JsonObj` that is returned in the response.

For example:

[code]

You can fetch any value from the response in this fashion.

We'll make sure to add more response properties

[2019-05-13 17:48] #160 closed

[2019-05-17 11:29] igy commented on #155
Hi Onur,
I'm going to close this issue now, as it's been open for a long time and I believe my previous comment answered your question - if you have additional questions please let me know, or contact our support team via support.cloudinary.com
thanks!

[2019-05-17 11:29] #155 closed

[2019-07-03 18:06] doug-shontz opened #183 "DownloadArchiveUrl Issue"
I am attempting to use the new feature of generating archives for multiple resource types, but it does not seem to be working or I have misunderstood something.  I admit I don't see how to do this in the documentation...I am just looking at the code for the PR that got merged and am going off of that.  The PR is #166 .

Here is the basic test:

[code]

Assuming a URL of [https://res.cloudinary.com

[2019-07-03 18:07] doug-shontz commented on #183
`public string GenerateDownloadUrl(Collection<string> paths)
        {
            ArchiveParams archiveParams = new ArchiveParams();
            archiveParams.FullyQualifiedPublicIds(paths.ToList());
            archiveParams.FlattenFolders(true);
            archiveParams.ResourceType("auto");

            string downloadUrl = GetCloudinary().DownloadArchiveUrl(archiveParams);
            return

[2019-07-04 08:16] roeeba commented on #183
Hi @doug-shontz, `FullyQualifiedPublicId` is defined as follows:
“{ResourceType}/{Type}/{PublicId}” - where PublicId contains a full path

In your case it should be:
“video/upload/FreeResources/4ThingsJesusKnew.mp3"

Please refer to -
https://github.com/cloudinary/CloudinaryDotNet/blob/e47daca883266d59ba9a4651734dd814ef6a4c86/Shared.Tests/CloudinaryTest.cs#L1547

[2019-07-06 14:27] doug-shontz commented on #183
Thanks so much for your response.  That got me past one hurdle, but now I am hitting another.  The archive seems to be generating correctly, but it is only containing the last path I send in no matter what types I send in or how many paths I send in.

Here are the paths I am sending in:

`
{
  "Paths": [
    "image/upload/12Stone-VLogo-1C-CMYK_gnrunj.ai",
    "image/upload/beta/cms/staff/Woollard_

[2019-07-07 13:20] roeeba commented on #183
@doug-shontz Please remove the format extension from the public IDs, like this:

[code]

It's working well for me using your code.

[2019-07-08 13:06] doug-shontz commented on #183
That works wonderfully.  Thank you for taking the time to explain this.

[2019-07-08 13:06] #183 closed

[2019-07-12 07:41] michalpilarekfrisco commented on #128
It's quite important feature. Any updates on implementation progress?

[2019-07-19 22:16] aditimadan-Cloudinary commented on #128
@michalpilarekfrisco The priority of the ticket has been bumped and will update the thread once the issue is fixed.

[2019-11-18 10:29] michalpilarekfrisco commented on #128
Nuget version tagged 1.9.0 has dlls for netcore and netstandard1.3 with version 1.8.1, so the async operations are still missing for .Net Core

[2019-11-18 13:21] roeeba commented on #128
Hi @michalpilarekfrisco. Thanks for letting us know. We will fix it and release a new version shortly.

[2019-11-18 13:29] roeeba commented on #128
@michalpilarekfrisco. The issue was fixed. Would you mind trying version 1.9.1?

[2019-11-20 09:22] michalpilarekfrisco commented on #128
Version 1.9.1 is working. Thank You for your effort!

[2019-11-20 12:00] roeeba commented on #128
Good to hear @michalpilarekfrisco :)

Thanks for the update.

[2019-11-20 12:00] #128 closed

[2020-01-27 10:10] MarkusKgit opened #197 "Nuget warning for Newtonsoft.Json"
The CloudinaryDotNet.nuspec file is currently pointing to version 12.0 of Newtonsoft.Json, which does not exist. The correct version is 12.0.1.

This leads to the following warning when using the library:
`CloudinaryDotNet 1.9.1 depends on Newtonsoft.Json (>= 12.0.0) but Newtonsoft.Json 12.0.0 was not found. An approximate best match of Newtonsoft.Json 12.0.1 was resolved.`

This is a similar prob

[2020-01-27 14:45] #197 closed

[2020-01-31 23:13] ah3eyy commented on #10
Severity	Code	Description	Project	File	Line	Suppression State
Error		Can not resolve reference: `System.Text.Encodings.Web`, referenced by `CloudinaryDotNet`. Please add a NuGet package or assembly reference for `System.Text.Encodings.Web`, or remove the reference to `CloudinaryDotNet`..Getting this error and i really dont get y

[2020-02-02 11:03] roeeba commented on #10
@ah3eyy Can you please share the full error stacktrace and a minimal code project so we can try and replicate this error?

[2020-02-02 11:26] ah3eyy commented on #10
I got it fixed had to install a dependency to fix it

On Sun, Feb 2, 2020, 12:03 Roee Ben-Ari <notifications@github.com> wrote:

[2020-03-12 15:15] betsovIT commented on #2
That helped me a lot. Thank you!

[2020-04-02 15:33] AndiRudi opened #206 "Cloudinary support for .NET Standard 2"
Hello, it seems that Cloudinary is currently not supporting .net standard 2. We currently migrate our solutions to .net core and the middle step is to target .net standard 2 so I would like to task if this is planned and when.

[2020-04-05 09:28] roeeba commented on #206
Hi @AndiRudi. We do support .Net Standard starting from version 1.3 and up, including 2.0. Can you please share more information about the issue/s you're facing so we can take a closer look at it?

[2020-04-06 13:10] tillwolff commented on #206
We were confused because the target frameworks are not defined
https://www.nuget.org/packages/CloudinaryDotNet/1.10.0
(_like here: https://www.nuget.org/packages/Newtonsoft.Json/_)

But I assume this will be solved when https://github.com/cloudinary/CloudinaryDotNet/pull/200 is merged

[2020-04-07 10:47] roeeba commented on #206
Thanks for pointing it out, @tillwolff. We'll make sure to fix that.

[2020-05-03 07:11] roeeba commented on #160
More response properties were added on version 1.10.0, including `folder`.
https://github.com/cloudinary/CloudinaryDotNet/pull/196/commits/c81698401a5b2f3db4a0125fc97d66f7e7203e73

[2020-05-03 07:23] abhisavadiya opened #215 "Cloudinary class is not found after importing namespace of cloudinary"
See this red underline

![image](https://user-images.githubusercontent.com/28340316/80908370-fbc88c80-8d3c-11ea-8c74-d0a289c4d208.png)

Package version of CloudinaryDotNet  = 1.10.1

[2020-05-03 12:47] roeeba commented on #215
Hi @abhisavadiya, can you please share how are importing Cloudinary?

[2020-05-04 07:29] abhisavadiya commented on #215
Install this package CloudinaryDotNet from nuget manager and starting of cs file write like this,
**using CloudinaryDotNet;**

[2020-05-04 10:55] roeeba commented on #215
Please try:

[code]

If that doesn't work, please share your project so we can take a closer look at it.

Thanks

[2020-05-12 12:32] abhisavadiya commented on #215
After updating package from nuget package manager it's solved.

[2020-05-12 12:32] #215 closed

[2020-05-28 06:50] dcruz1990 commented on #84
Im facing same issue , but only when i run the app from cli, when i run the app in the debugger everything goes fine.. whats happening here?

[2020-05-28 06:55] dcruz1990 opened #223 "Failed to deserialize the Response: Foribidden (Only when runing the app from cli)"
## Describe the bug in a sentence or two.
When try to upload a photo from the app (with dotnet run or dotnet watch run) i have Json Serialization Error: Foribbiden. However, when run from the VSCode debugger everything works fine.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[X ] Behaviour - Functions aren’t working as expected (

[2020-05-28 17:53] shirlymanor commented on #84
Can you share what the version of SDK are you using? we just updated the SDK to 1.11.0. In CLI:
`dotnet add package CloudinaryDotNet -v 1.11.0`
 Can you try updating the SDK and let us know if that helps?

[2020-05-31 22:38] Rohan-Bin-Khokon commented on #84
Updated the SDK to v 1.11.0.
Still not working.

[2020-05-31 22:55] Rohan-Bin-Khokon commented on #84
![asd](https://user-images.githubusercontent.com/55561739/83364568-ed18d800-a3c3-11ea-8f64-01508de7f1bf.PNG)

This error coming from Here.
"uploadResult.Url.ToString()" or "uploadResult.Uri.ToString()"

[2020-06-01 07:08] roeeba commented on #84
@Rohan-Bin-Khokon Can you please share the full error stacktrace you get along with the value populated within `uploadResult.Uri` when it fails?

[2020-06-25 11:49] idobarnoam commented on #223
Hi @dcruz1990
In our SDK we first try to parse the json response and retrieve the actual Cloudinary error that is received.
If you got the "forbidden" error it might mean that there is some configuration error with user and password.

Could you confirm that the environment variable or other user authentication configuration that you use is set up with the correct API key/secret?

[2020-08-12 19:26] #132 closed

[2020-08-17 04:12] #206 closed

[2020-11-08 06:24] duartegjmiguel opened #254 "CLR/System.IO.FileLoadException - The located assembly's manifest definition does not match the assembly reference"
## Bug report for Cloudinary .NET SDK
Before proceeding, please update to latest version and test if the issue persists

I used version 1.13.1

## Describe the bug in a sentence or two.
It seems you are missing a project reference.

## Issue Type (Can be multiple)
[ ] Build - Can’t install or import the SDK
[ ] Performance - Performance issues
[X ] Behaviour - Functions aren’t working as expected

[2020-11-08 06:39] duartegjmiguel commented on #254
Workarround: Just use 1.11.0

[2020-11-09 13:45] roeeba commented on #254
@duartegjmiguel I couldn't manage to reproduce this error. `UploadAsync` works well for me on 1.13.1. Would you mind sharing your code so I can take a closer look at it?

[2020-11-09 14:07] roeeba commented on #254
@duartegjmiguel It looks like you're running a wrong version of NewtonSoft.Json or it is not installed at all. Would mind checking if you did everything according to https://docs.microsoft.com/en-us/nuget/consume-packages/package-restore?

[2020-11-09 14:52] roeeba commented on #254
Hi, @duartegjmiguel. Investigating further, it looks to be an issue on our side, where our package doesn't bring NewtonSoft.Json with it. While we're working on fixing it, as a workaround, please explicitly add NewtonSoft.Json as a dependency.

[2020-11-16 15:17] const-cloudinary commented on #32
AccessMode is added to both RawUploadParams and ListResourcesResult

[2020-11-16 15:17] #32 closed

[2020-11-24 04:53] #254 closed

[2020-12-02 10:20] opolo opened #257 "Support for SVGs along with responsive breakpoints"
## Feature request for Cloudinary .NET SDK
Support for SVGs together with responsive breakpoints in SDK

## Explain your use case
The following code has always worked for us, when uploading files to cloudinary:
`protected async Task<Uri> SaveFileAsync(string filepath, Stream fileStream)
        {
            if (filepath == null) throw new ArgumentNullException(nameof(filepath));
            if (f

[2020-12-02 14:34] roeeba commented on #257
Hi @opolo. Converting vector files while keeping them as vector requires the `e_vectorize` parameter, and as the error message says, it has to be in the last transformation component.
The `Transformation` option of `ResponsiveBreakpoints` is adding the transformation in the first component so setting `e_vectorize` there doesn't help.
I did manage to work around the issue by first setting the file'

[2020-12-15 10:30] opolo commented on #257
Hi Roeeba!

Thanks for the response, this will work for the cases we were facing :) +1

[2020-12-15 10:30] #257 closed

[2021-02-21 11:56] roeeba commented on #223
Closing this issue due to the time elapsed. Please feel free to either re-open the issue, contact our support at https://support.cloudinary.com/hc/en-us/requests/new or create a new ticket if you have any additional issues.

[2021-02-21 11:56] #223 closed

[2021-05-31 10:29] ibrahimelaradi commented on #84
Has this been resolved? I'm facing the same issue in 1.15.1

[2021-05-31 13:18] roeeba commented on #84
Hi @ibrahimelaradi Would you mind sharing more details on the issue you're facing?

* A sample of your code showing where the error occurs.
* The value you're passing as parameters.
* The error stack trace from your code, or the exact error message you see returned by our API

[2021-06-04 16:25] teosangio79 opened #273 "Upload file larger then 2Gb"
## Bug report for Cloudinary .NET SDK
Before proceeding, please update to latest version and test if the issue persists

## Describe the bug in a sentence or two.
When you try to upload a file larger then 2Gb (video) the SDk get an exception

## Issue Type (Can be multiple)
- [ ] Build - Cannot install or import the SDK
- [ ] Performance - Performance issues
- [ x] Behaviour - Functions are not wo

[2021-06-04 16:35] teosangio79 commented on #273
To fix the issue I changed:
FileDescription class
`internal long BytesSent;`

before it was
internal int BytesSent;

[2021-06-06 12:23] const-cloudinary commented on #273
@teosangio79 , feel free to open a pull request with the fix.

[2021-06-07 12:13] teosangio79 commented on #273
I created it
[https://github.com/cloudinary/CloudinaryDotNet/pull/274](https://github.com/cloudinary/CloudinaryDotNet/pull/274)

[2021-06-08 08:55] #273 closed

[2021-06-17 21:10] galenmolk opened #278 "Cloudinary.Upload() throws a FormatException"
Hi, hope you're doing well.

I have the Cloudinary .NET SDK integrated with a Unity project. I've placed the CloudinaryDotNet DLL, as well as all of its DLL dependencies, inside my project. I'm able to access all the Cloudinary namespaces/classes/etc from my code, which is fantastic.

Unfortunately, whem I attempt a simple implementation of `Cloudinary.Upload`, I get a `FormatException`. Here's th

[2021-06-20 12:53] galenmolk commented on #278
In case anyone else working inside Unity comes across this same problem, I'll try to detail what I did to fix this here.

The FormatException error was being thrown from the method `PrePrepareRequestBody`, on line 450 of `ApiShared.Internal.cs`:

`            request.Headers.Add("User-Agent", userPlatform);
`

The issue was the userPlatform parameter. This is created from the static string `ApiInt

[2021-06-20 14:50] const-cloudinary commented on #278
@galenmolk , thank you for reporting this issue!
It is a bit weird bug.
We'll fix it by encoding a header value, so it will be safe regardless of the amount of parenthesis or other unsafe characters.

[2021-10-05 19:21] coder-candace opened #292 "Version 1.15.1 and 1.15.2 - Could not load file or assembly Microsoft.Extensions.Options"
## Could not load file or assembly 'Microsoft.Extensions.Options, Version=5.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'. The system cannot find the file specified.
We are using the SDK in a .NET Core 3.1 Azure Function project. On startup we get the following error message.
[code]
In order to resolve the error we have to downgrade to version 1.14.0.
…

## Issue Type (Can be multiple)

[2021-10-08 04:50] epasos573 commented on #292
Hi @coder-candace Could you please let me know what is the target framework set for your library `Function-ZipWhipEngine` (i.e. it should also be .Net Core 3.1)? The error thrown is from `Microsoft.Extensions.Options` which is a dependency for `Microsoft.Extensions.WebEncoders` (target framework `.Net Core 3.1`). In case, may I request a sample library that throws this exception so I could verify

[2021-10-13 10:19] epasos573 commented on #292
Hi @coder-candace Thanks for the sample code and after verifying the issue, I could see that the `Microsoft.Extensions.Options` is having a conflict with the `Microsoft.Extensions.WebEncoders` on application load.

To replicate the issue, I have updated the sample code you have provided. I uninstalled `CloudinaryDotNet` package and installed the `Microsoft.Extensions.WebEncoders` package into `Zip

[2021-11-29 15:58] noorhajhussin commented on #84
This error appears if you use "API Base URL" instead of "Cloud name"

[2021-12-06 17:21] JT-Bruch commented on #292
I also have the same issue - basic install into a .NET Core 3.1 DLL with only these dependencies.

[code]

[2021-12-07 05:57] epasos573 commented on #292
@JT-Bruch The CloudinaryDotNet SDK is compatible with `.Net Core 3.1`, while the error reported above is linked to the other Microsoft packages used in the solution that are not yet compatible with `.Net Core 3.1`. And the proposed solution is to use other libraries that is fully functional with the version of .Net Framework/Core being used.

As for your case, reviewing the dependencies requiremen

[2022-11-08 22:24] MichaelLHerman commented on #10
As a client-side library, the mobile client should not be sent the api key and app secret.   Change to the library need to be made to make this a true mobile client library (new Cloudinary constructor that does not need api key and app secret, like the iOS/Android/JS libraries have).

[2022-11-20 05:40] PureKrome opened #317 "Interfaces for easy testing support?"
## Feature request for Cloudinary .NET SDK
Provide `interfaces` for the main CloudinaryDotNet classes.

## Explain your use case
Has anyone on the team considered adding any interfaces to the CloudinaryDotNet SDK, which would make it way easier for testing scenario's / projects?

If we wish to test some custom service which _uses_ the CloudinaryDotNet SDK/nuget package, then we need to create inst

[2022-11-20 12:32] wissam-khalili commented on #317
Hi @PureKrome,

Thank you for this idea.
I will forward your suggestion to our team and will keep you posted.

Thanks,
Wissam